[submodule "ros2_examples"]
	path = submodules/ros2_examples
	url = https://github.com/ros2/examples.git
[submodule "ros2_i_training"]
	path = submodules/ros2_i_training
	url = git@github.com:iki-wgt/ros2_i_training.git
[submodule "submodules/ros2_demos"]
	path = submodules/ros2_demos
	url = https://github.com/ros2/demos.git
[submodule "submodules/ros2_example_interfaces"]
	path = submodules/ros2_example_interfaces
	url = https://github.com/ros2/example_interfaces
[submodule "submodules/ros2_testing"]
	path = submodules/ros2_testing
	url = https://github.com/ros2/ros_testing.git
[submodule "ros2_cheats_sheet"]
	path = submodules/ros2_cheats_sheet
	url = https://github.com/ubuntu-robotics/ros2_cheats_sheet
[submodule "submodules/orbecsdk_ros"]
	path = submodules/orbecsdk_ros
	url = https://github.com/orbbec/OrbbecSDK_ROS2
